<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css')}}">
	<title></title>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/jquery.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		    		</button>
		    	<a class="navbar-brand" href="#">Shi Yan Lou</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav">
		        <li class="active"><a href="#">Java <span class="sr-only">(current)</span></a></li>
		        <li><a href="#">Python</a></li>
		    	</ul>
		    </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="page-header">
		  <h1>{{post.title}} <small>{{post.created_time}}</small></h1>
		  {% for tag in post.tags %}
		  <span class="label label-success">{{tag}}</span>
		  {% endfor %}
		</div>
		<p>{{post.content}}</p>
	</div>
</body>
</html>